<thead>
  <div id="nav-background">

    <header id="nav-header">

    </header>
    <nav style="    height: 72px;
    position: absolute;">
      <ul class="nav-ul hide-ul">
        <li>
          <a href="/admin/product"><img style="height:80%;" src="/image/logo.png" alt="logo" class="img-fluidd"></a>
        </li>
        <li style="width: 100px;height:80%"></li>
        <li style="width: 250px;height:80%"><a class="nav-link"
            href="/forum/admin/homepage?id={{idAmin}}&username={{adminName}}">Home</a></li>
        <li style="width: 250px;height:80%"><a class="nav-link"
            href="/forum/admin/newpost?id={{idAmin}}&username={{adminName}}">Thêm bài mới</a></li>
        <li style="width: 250px;height:80%"><a class="nav-link"
            href="/forum/admin/pending?id={{idAmin}}&username={{adminName}}">Duyệt bài đăng</a></li>

        <li style="max-width: 200px;height:80%; margin-left: 160px;">
          <img style="align-items: center;"
            src="https://scr.vn/wp-content/uploads/2020/07/Avatar-m%E1%BA%B7c-%C4%91%E1%BB%8Bnh-n%E1%BB%AF-c%C3%B3-m%C3%A0u-768x768.jpg"
            alt="" class="comment-img">


          <p style="margin-top:15px">
            <strong style="align-items: center;" id="save-name">{{adminName}}</strong>
              {{!-- <strong  id="save-id">ID:{{idAmin}}</strong> --}}
            </p>



        </li>
      </ul>
    </nav>

  </div>
</thead>



<div class="edit-comment">
  <div class="edit-comment-modal">


    <form method="POST" action="/forum/admin/edit/store?idPost={{postID}}&username={{adminName}}&adminId={{idAmin}}"
      enctype="multipart/form-data">
      <div class="form-group">

        <button id='dongbaiviet' class="btn btn-danger button-deletecomment "><i
            class="fas fa-times-circle font-deletecomment"></i></button>
      </div>
      <div class="form-group">
        <label for="caption">Hãy nhập nội dung bài viết </label>
        <textarea rows="4" cols="50" type="text" class="form-control" id="caption" aria-describedby="caption"
          name="caption" autocomplete="off">{{caption}}</textarea>
      </div>
      <div class="form-group">
        <img src="{{this.image}}"></img>
        {{#each this.arrCmt}}
        <li>
          {{this}}
        </li>
        {{/each}}

      </div>

      {{!-- //POST IMAGE --}}
      <div>
        <label>Image</label>
        <input type="file" name="profile-file" />
      </div>
      <div class="bottom-part">
      </div>
      {{!-- // --}}
      <button type="submit" class="btn btn-primary btn-space">Save</button>

    </form>
    {{#if this.allowToCmT}}
    <button name="lock" class="btn btn-primary btn-space btn-lockcomment" id="lockButton">
      Lock Comment
    </button>
    {{else}}

    <button name="open" class="btn btn-primary btn-space btn-right btn-opencomment">
      Open Comment
    </button>
    {{/if}}

    <button name="lock" id="quanlybaivietcomment" class="btn btn-primary btn-space">Xóa bài viết</button>
    <div class="bottom-part">
    </div>
    {{#each cmts}}


    <div style="display: flex;" class="comment-container">
      <div class="comment">
        <img
          src="https://scr.vn/wp-content/uploads/2020/07/Avatar-m%E1%BA%B7c-%C4%91%E1%BB%8Bnh-n%E1%BB%AF-c%C3%B3-m%C3%A0u-768x768.jpg"
          alt="" class="comment-img">


        <div class="comment-text">
          <div class="comment-header">
            <p><strong> {{this.username}} </strong></p>
          </div>
          <p style="  hyphens: auto;">{{this.caption}}</p>
        </div>

        <div>
          <img src="svg/three_dot_gray.svg" class="three-dot-img" alt="">
        </div>
      </div>
      <div class="three-dot">

        <button style="margin: 20px;" class="btn btn-danger" onclick="onDeteleteComment('{{this._id}}')"> Xóa </button>
      </div>
    </div>
    <script>
      function onDeteleteComment(id) {
        let saveName = document.getElementById("save-name").textContent;
        let saveId = document.getElementById("save-id").textContent;
        saveId= saveId.slice(3);
        console.log(saveId)
        window.location.replace("/forum/admin/deletecomment?idCmt=" + id + "&idPost={{this.postID}}&username=" + saveName + "&adminId=" + saveId)
      }
    </script>
    {{/each}}


    <form method="POST" action="/forum/profile-upload-single" enctype="multipart/form-data">

    </form>

  </div>

</div>

<div class="xoabaiviet" id="xoabaivietcomment">
  <div class="xoabaiviet-hienthi">
    <div class="xoabaiviet-luachon">
      <header class="xoabaiviet-tieude">
        <p>Bạn có chắc chắn muốn xóa bài viết không?</p>
        <button id='close-comment' class="btn btn-danger button-deletecomment xoabaiviet-close">
          <i class="fas fa-times-circle font-deletecomment"></i>
        </button>
      </header>
      <form action="/forum/admin/deletepost?idPost={{postID}}&username={{adminName}}&adminId={{idAmin}}" method="POST">
        <button id="xoabaiviet-co" class="btn btn-accecptdelete">Có</button>
      </form>
      <button id="xoabaiviet-khong" class="btn btn-canceldelete" style="margin-top: -6rem;
    margin-left: 28rem">Không</button>
    </div>
  </div>
</div>

<script>
  var btn = document.querySelector('.btn-lockcomment')
  if (btn != null) {
    btn.addEventListener('click', function (e) {
      window.location.replace("/forum/admin/lockcomment?idPost={{postID}}&username={{adminName}}&adminId={{idAmin}}")
    })
  }
</script>

<script>
  var btn1 = document.querySelector('.btn-opencomment')
  if (btn1 != null) {
    btn1.addEventListener('click', function (e) {
      window.location.replace("/forum/admin/opencomment?idPost={{postID}}&username={{adminName}}&adminId={{idAmin}}")
    })
  }
</script>

<script>
  var btn3 = document.querySelector('.btn-canceldelete')
  btn3.addEventListener('click', function (e) {

  })
</script>

<script>
  function deleteComment(commentId) {

    const request = new XMLHttpRequest();

    request.open("DELETE", "deletecomment/" + commentId);
    request.onreadystatechange = function () {
      if (this.readyState === 4 && this.status === 200) {
        const value = this.responseText;
        console.log(value);
      }
    };

    const formData = new FormData();
    formData.append('commentId', commentId);
    const jsonData = JSON.stringify({ Id: commentId })

    console.log(jsonData);
    request.onload = function (resData) {

    }
    request.send(jsonData);

  }
</script>

<script>
  document.getElementById('quanlybaivietcomment').onclick = function () {

    document.getElementById('xoabaivietcomment').style.display = 'flex';
  };

  document.getElementById('close-comment').onclick = function () {
    document.getElementById('xoabaivietcomment').style.display = 'none';
  };
  document.getElementById('xoabaiviet-khong').onclick = function () {
    document.getElementById('xoabaivietcomment').style.display = 'none';
  };
</script>