   <thead>
     <div id="nav-background">
      <div id="nav-container">
        <header id="nav-header">
          <h1><a href="" id="nav-logo">HOME</a></h1>
       
        </header>
        <nav>
          <ul class="nav-ul hide-ul">
            <li><a class="nav-link" href="/forum/admin/homepage?id={{adminId}}&username={{adminName}}">Home</a></li>
            <li><a class="nav-link" href="/forum/admin/newpost?id={{adminId}}&username={{adminName}}">Thêm bài mới</a></li>
           
            <li><a class="nav-link active-link" href="/forum/admin/pending?id={{adminId}}&username={{adminName}}">Duyệt bài đăng</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </thead>


{{!-- <div class="w3-container">
  <h2>Card Exampleasdasf</h2>
    <div class="w3-container w3-center w3-dark-grey">
      <h3>Friend Request</h3>
      {{!-- <img src="img_avatar3.png" alt="Avatar" style="width:80%"> --}}
      <h5>John Doe</h5>

      <div class="w3-section">
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Delete</button>
      </div>
    </div>

  </div>
</div> --}}

<script>
    function onDelete(postID) {
      console.log("click");
      const request = new XMLHttpRequest();
      request.open("POST", "pending/delete?idPost=" +postID+"&id={{adminId}}&username={{adminName}}");
      request.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
          const value = this.responseText;
          // console.log(value);
        }
      };
      const jsonData = JSON.stringify({ id: postID, username: '{{adminName}}', userId: '{{adminId}}' })
      console.log(name);

      request.onload = function (resData) {
        window.location.replace("/forum/admin/pending?id={{adminId}}&username={{adminName}}")
      }
      request.send(jsonData);

    }
</script>

<script>
    function onAccept(postID) {
      console.log("click");
      const request = new XMLHttpRequest();
      request.open("POST", "pending/store?idPost=" +postID+"&id={{adminId}}&username={{adminName}}");
      request.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
          const value = this.responseText;
          // console.log(value);
        }
      };
      const jsonData = JSON.stringify({ id: postID, username: '{{adminName}}', userId: '{{adminId}}' })
      console.log(name);

      request.onload = function (resData) {
        window.location.replace("/forum/admin/pending?id={{adminId}}&username={{adminName}}")
      }
      request.send(jsonData);

    }
</script>


<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Image</th>
      <th scope="col">Detail</th>
      <th scope="col" colspan="2">Confirm</th> 
    </tr>
  </thead>
  <tbody>
    {{#each pending}}
      <div>
        <tr>
          <th scope="row">{{ @index }}</th>
          <td>{{this.username}}</td>
         <td>
          <img src="{{this.image}}"></img>
         </td>
          <td>{{this.caption}}</td>
          <td>
            <button class="btn btn-danger" onclick="onDelete('{{this.postID}}')">Delete</button>
            <button class="btn btn-primary" onclick="onAccept('{{this.postID}}')">Accept</button>
          </td>
        </tr>        
      </div>
    {{/each}}
  </tbody>
</table>


