{{!-- <div id="nav-background">
      <div id="nav-container">
        <header id="nav-header">
          <h1><a href="#" id="nav-logo">HOME</a></h1>
       
        </header>
        <nav>
          <ul class="nav-ul hide-ul">
            <li><a class="nav-link" href="/forum/admin/homepage">Home</a></li>
            <li><a class="nav-link" href="/forum/admin/newpost">Thêm bài mới</a></li>
            <li><a class="nav-link" href="/forum/admin/pending">Duyệt bài đăng</a></li>
            {{!-- <li><a class="nav-link" href="#">About</a></li> --}}
          </ul>
        </nav>
      </div>
    </div> --}}
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>


<div class="edit-comment">
<div class="edit-comment-modal">

<form method="POST" action="/forum/admin/edit/store/{{postID}}">
  <div class="form-group">
      <label for="name">User Name</label>
       <button id='dongbaiviet' class="btn btn-danger button-deletecomment "><i class="fas fa-times-circle font-deletecomment"></i></button> 
      <input type="text" class="form-control" id="name" name="username" value="{{username}}">
    </div>
    <div class="form-group">
      <label for="caption">Hãy nhập nội dung bài viết </label>
      <input type="text" class="form-control" id="caption" aria-describedby="caption" name="caption" value="{{caption}}">
    </div>
    <div class="form-group">
          <img src="{{this.image}}"></img>
        {{#each this.arrCmt}}
            <li>
              {{this}}
            </li>
          {{/each}}

         </div>
    <div class="form-group">
      <label for="link">Link Image</label>
      <input type="text" class="form-control" id="image" placeholder="URL" name="image" value="{{image}}">
    </div>
    
    <button type="submit" class="btn btn-primary btn-space" >Save</button>

 </form>
        {{#if this.allowToCmT}}
          <button name="lock" class="btn btn-primary btn-space btn-lockcomment" id="lockButton">
                Lock Comment
          </button>  
      {{else}}
        
          <button name="open" class="btn btn-primary btn-space btn-right btn-opencomment">
                Open Comment    
          </button>
        {{/if}}

      <button name="lock" id= "quanlybaivietcomment"class="btn btn-primary btn-space">Xóa bài viết</button>  


{{#each cmts}}
<input value="{{this.caption}}"></input>

<form action = "/forum/admin/deletecomment/{{this._id}}" method = "POST">
<button class="btn btn-danger btn-deleteCmt-{{this._id}}"> Xóa </button>
<form>

{{!-- <script>
 var btndeleteCmt = document.querySelector('.btn-deleteCmt-{{this._id}}')
   {{!-- btndeleteCmt.addEventListener('click',function(e){
   window.location.replace("/forum/admin/deletecomment/{{this._id}}") --}}
   btndeleteCmt
 })  
</script> --}}

{{/each}}
</div>

</div>

<div class="xoabaiviet" id="xoabaivietcomment">
  <div class="xoabaiviet-hienthi">
    <div class="xoabaiviet-luachon">
      <header class="xoabaiviet-tieude">
      <p >Bạn có chắc chắn muốn xóa bài viết không?</p>
      <button id='dongbaivietcomment' class="btn btn-danger button-deletecomment xoabaiviet-close">
         <i class="fas fa-times-circle font-deletecomment"></i>
      </button> 
      </header>
    <button id="xoabaiviet-co" class="btn btn-accecptdelete">Có</button>
    <button id="xoabaiviet-khong" class="btn btn-canceldelete">Không</button>
    </div>
  </div>
</div>
      
<script>
 var btn = document.querySelector('.btn-lockcomment')
  if(btn!=null)
 {
   btn.addEventListener('click',function(e){
   window.location.replace("/forum/admin/lockcomment/{{postID}}")
 })
 }
</script>

<script>
 var btn1 = document.querySelector('.btn-opencomment')
 if(btn1!=null)
 {
   btn1.addEventListener('click',function(e){
   window.location.replace("/forum/admin/opencomment/{{postID}}")
 })  
 }
</script>

<script>
 var btn2 = document.querySelector('.btn-accecptdelete')
 btn2.addEventListener('click',function(e){
   window.location.replace("/forum/admin/deletepost/{{postID}}")
 })
</script>

<script>
  var btn3= document.querySelector('.btn-canceldelete')
 btn3.addEventListener('click',function(e){
  
 })
</script>

<script>
  function deleteComment(commentId) {
    
    const request = new XMLHttpRequest();

    request.open("DELETE", "deletecomment/"+commentId);
    request.onreadystatechange = function() {
        if(this.readyState === 4 && this.status === 200) {
            const value = this.responseText;
            console.log(value);
        }
    };
    
    const formData = new FormData();
    formData.append('commentId',commentId);
    const jsonData=JSON.stringify({Id: commentId})

    console.log(jsonData);
    request.onload = function(resData)
    {

    }
    request.send(jsonData);

}
</script>