<thead>
  <div id="nav-background">

    <header id="nav-header">

    </header>
    <nav style="    height: 72px;
    position: absolute;">
      <ul class="nav-ul hide-ul">
        <li>
          <a href="/"><img style="height:80%; margin-left: 75px;" src="/image/logo.png" alt="logo"
              class="img-fluidd"></a>
        </li>
        <li style="width: 100px;height:80%"></li>
        <li style="width: 300px;height:80%"><a class="nav-link" href="/forum/customer/homepage">Home</a></li>
        <li style="width: 300px;height:80%"><a class="nav-link" href="/forum/customer/newpost">Thêm bài mới</a></li>
        <li style="width: 200px;height:80%"></li>

        <li style="max-width: 200px;height:80%; margin-left: 110px; margin-top: 7px;">
          <img style="align-items: center;"
            src="https://scr.vn/wp-content/uploads/2020/07/Avatar-m%E1%BA%B7c-%C4%91%E1%BB%8Bnh-n%E1%BB%AF-c%C3%B3-m%C3%A0u-768x768.jpg"
            alt="" class="comment-img">


          <p style="margin-top:15px">
            <strong style="align-items: center;" id="save-name">{{customerName}}</strong>
            {{!-- <strong id="save-id">ID:{{idCustomer}}</strong> --}}
          </p>



        </li>
      </ul>
    </nav>

  </div>
</thead>

<body style="background-color: #1B1531;">
<div class="edit-comment">
  <div class="edit-comment-modal">

    <form method="POST" action="/forum/customer/edit/store?idPost={{postID}}" enctype="multipart/form-data">
      <div class="form-group">

        <button id='dongbaiviet' class="btn btn-danger button-deletecomment ">
          <i class="fas fa-times-circle font-deletecomment"></i></button>
      </div>
      <div class="form-group">
        <label for="caption">Hãy nhập tiêu đề bài viết</label>
        <textarea rows="2" cols="50" class="form-control" type="text" name="title">{{title}}</textarea>
        <br>
        <label for="caption">Hãy nhập nội dung bài viết</label>
        <textarea rows="4" cols="50" type="text" class="form-control" id="caption" aria-describedby="caption"
          name="caption" autocomplete="off">{{caption}}</textarea>
      </div>
      <div class="form-group">
        <img src="{{this.image}}"></img>
        {{#each this.arrCmt}}
        <li>
          {{this}}
        </li>
        {{/each}}

      </div>

      <div>
        <label>Image</label>
        <input type="file" name="profile-file" />
      </div>
      <div class="bottom-part">
      </div>
      <button type="submit" class="btn btn-primary btn-space">Save</button>

    </form>
    {{#if this.allowToCmT}}
    <button name="lock" class="btn btn-primary btn-space btn-lockcomment" id="lockButton">
      Lock Comment
    </button>
    {{else}}

    <button name="open" class="btn btn-primary btn-space btn-right btn-opencomment">
      Open Comment
    </button>
    {{/if}}

    <button name="lock" id="quanlybaivietcomment" class="btn btn-primary btn-space">Xóa bài viết</button>

    <div class="bottom-part">
    </div>
    {{#each cmts}}
    <div style="display: flex;" class="comment-container">
      <div class="comment">
        <img
          src="https://scr.vn/wp-content/uploads/2020/07/Avatar-m%E1%BA%B7c-%C4%91%E1%BB%8Bnh-n%E1%BB%AF-c%C3%B3-m%C3%A0u-768x768.jpg"
          alt="" class="comment-img">


        <div class="comment-text">
          <div class="comment-header">
            <p><strong>{{this.username}}</strong></p>
          </div>
          <p style="hyphens: auto; margin-bottom: 0px; margin-top: -15px;"> {{this.caption}}</p>
        </div>

        <div>
          <img src="svg/three_dot_gray.svg" class="three-dot-img" alt="">
        </div>
      </div>
      <div class="three-dot">

        <button style="margin: 20px;" class="btn btn-danger" onclick="onDeteleteComment('{{this._id}}')"> Xóa </button>
      </div>
    </div>



    <script>
      function onDeteleteComment(id) {
        window.location.replace("/forum/customer/deletecomment?idCmt=" + id)
      }
    </script>
    {{/each}}


  </div>

</div>
</body>

<div class="xoabaiviet" id="xoabaivietcomment">
  <div class="xoabaiviet-hienthi">
    <div class="xoabaiviet-luachon">
      <header class="xoabaiviet-tieude">
        <p>Bạn có chắc chắn muốn xóa bài viết không?</p>
        <button id='close-comment' class="btn btn-danger button-deletecomment xoabaiviet-close">
          <i class="fas fa-times-circle font-deletecomment"></i>
        </button>
      </header>
      <form action="/forum/customer/deletepost?idPost={{postID}}" method="POST">
        <button id="xoabaiviet-co" class="btn ">Có</button>
      </form>
      <button id="xoabaiviet-khong" class="btn btn-canceldelete" style="margin-top: -6rem;
    margin-left: 28rem">Không</button>
    </div>
  </div>
</div>

<script>
  var btn = document.querySelector('.btn-lockcomment')
  btn.addEventListener('click', function (e) {
    window.location.replace("/forum/customer/lockcomment?idPost={{postID}}")
  })
</script>

<script>
  var btn1 = document.querySelector('.btn-opencomment')
  btn1.addEventListener('click', function (e) {
    window.location.replace("/forum/customer/opencomment?idPost={{postID}}")
  })  
</script>


<script>
  var btn3 = document.querySelector('.btn-canceldelete')
  btn3.addEventListener('click', function (e) {

  })
</script>

<script>
  document.getElementById('quanlybaivietcomment').onclick = function () {

    document.getElementById('xoabaivietcomment').style.display = 'flex';
  };

  document.getElementById('close-comment').onclick = function () {
    document.getElementById('xoabaivietcomment').style.display = 'none';
  };
  document.getElementById('xoabaiviet-khong').onclick = function () {
    document.getElementById('xoabaivietcomment').style.display = 'none';
  };
</script>