<header style="position: fixed; top: 0;z-index: 1000; width: 100%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <nav class="navbar navbar-expand-xl navbar-light">
          <div class="container-fluid">
            <a href="/" class="navbar-brand"><img src="/image/logo.png" alt="logo" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/forum/admin/homepage"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/forum/admin/newpost"><strong>New Post</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/forum/admin/pending"><strong>Pending</strong></a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>


      <div class="col-lg-2 col-md-3 cart-login" style="padding-top: 15px;">
        <div id="cart-checkout" class="float-end cart mt-2"><a href="/checkout/payment"><span id="number-in-cart1"
              class="number"></span><img class="img-fluid" style="width: 50px; height:50px" src="/image/cart2.png"
              alt="cart"></a></div>
        <div id="icon-customer" style="margin-right: 20px;" class="float-end cart mt-2 ">
          <a id="navbarDropdownMenuCustomer" style="padding-bottom: 30px;" class="dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false"><img class="img-fluid" style="width: 50px; height:50px"
              src="/image/customer.png" alt="customer"></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuCustomer">
            <li><a class="dropdown-item" style="color: black;" href="/profile">Account</a></li>
            <li><a class="dropdown-item" style="color: black;" href="/order">Order</a></li>
            <li><a class="dropdown-item" style="color: black;" href="/logout">Log Out</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

{{!-- Container --}}

<body style="background-color: rgb(250 243 243);">
  <table class="table mt-44">
    <thead style="background-color: #47284e;color: #e6eeef;">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Detail</th>
        <th scope="col" colspan="2">Confirm</th>
      </tr>
    </thead>
    <tbody>
      {{#each pending}}
      <div>
        <tr>
          <td>{{this.username}}</td>
          <td style="min-width: 5rem; max-width: 10rem" scope="row">{{ this.title}}</td>
          <td style="min-width: 10rem; max-width: 15rem">
            <img class="row-img-pending" src="{{this.image}}"></img>
          </td>
          <td style="    min-width: 30rem;   max-width: 40rem">{{this.caption}}</td>
          <td>
            <button style="width: 5rem;margin-top: 1rem;" class="btn btn-danger"
              onclick="onDelete('{{this.postID}}')">Delete</button>
            <button style="width: 5rem;margin-top: 1rem;" class="btn btn-primary"
              onclick="onAccept('{{this.postID}}')">Accept</button>
          </td>
        </tr>
      </div>
      <div class="xoabaiviet-pending" id="xoabaivietcomment-pending">
        <div class="xoabaiviet-hienthi-pending">
          <div class="xoabaiviet-luachon-pending">
            <header class="xoabaiviet-tieude-pending">
              <p>Bạn có chắc chắn muốn xóa bài viết không?</p>
              <button id='dongbaivietcomment-pending' class="btn btn-danger button-deletecomment xoabaiviet-close">
                <i class="fas fa-times-circle font-deletecomment"></i>
              </button>
              <button class="btn btn-danger" onclick="onDelete('{{this.postID}}')">Delete</button>
              <button class="btn btn-primary" onclick="onAccept('{{this.postID}}')">Accept</button>
          </div>
        </div>
      </div>
      {{/each}}
    </tbody>
  </table>
</body>

<script>
  document.getElementById('row-dele-pending').onclick = function () {
    document.getElementById('xoabaivietcomment-pending').style.display = 'flex';
  };

  document.getElementById('dongbaivietcomment-pending').onclick = function () {
    document.getElementById('xoabaivietcomment-pending').style.display = 'none'
  };

  document.getElementById('xoabaiviet-khong').onclick = function () {
    document.getElementById('xoabaivietcomment-pending').style.display = 'none'
  };
</script>


{{!-- Script delete --}}
<script>
  function onDelete(postID) {
    console.log("click");
    const request = new XMLHttpRequest();
    request.open("POST", "pending/delete?idPost=" + postID);
    request.onreadystatechange = function () {
      if (this.readyState === 4 && this.status === 200) {
        const value = this.responseText;
        // console.log(value);
      }
    };
    const jsonData = JSON.stringify({ id: postID, username: '{{adminName}}', userId: '{{adminId}}' })
    console.log(name);

    request.onload = function (resData) {
      window.location.replace("/forum/admin/pending")
    }
    request.send(jsonData);

  }
</script>

{{!-- Script Accept --}}
<script>
  function onAccept(postID) {
    console.log("click");
    const request = new XMLHttpRequest();
    request.open("POST", "pending/store?idPost=" + postID);
    request.onreadystatechange = function () {
      if (this.readyState === 4 && this.status === 200) {
        const value = this.responseText;
        // console.log(value);
      }
    };
    const jsonData = JSON.stringify({ id: postID, username: '{{adminName}}', userId: '{{adminId}}' })
    console.log(name);

    request.onload = function (resData) {
      window.location.replace("/forum/admin/pending")
    }
    request.send(jsonData);

  }
</script>