{{#each products}}
 <form class="form-group" id="product-form" method="POST" enctype="multipart/form-data" action="/admin/product/update/{{this._id}}" >
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input id="upload" type="file" name="product_image" onchange="readURL(this);" class="form-control border-0">
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                        </div>
                    </div>
                    <div class="image-area mt-4"><img id="imageResult" src="/image/{{this.product_image}}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_sku" value="{{this.product_sku}}" class="form-control" placeholder="Enter Product SKU" id="sku">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_name" value="{{this.product_name}}" class="form-control" placeholder="Enter Product Name" id="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="product_price" value="{{this.product_price}}" class="form-control" placeholder="Enter Product Price" id="price">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="qty" value="{{this.qty}}" class="form-control" placeholder="Enter Product Qty" id="qty"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea rows="1" name="product_description" class="form-control" placeholder="Enter Product Description"
                              id="description">{{this.product_description}}</textarea>
                </div>
            </div> 
            <input type="hidden" name="last_image" value="{{this.product_image}}" class="form-control">
            <div class="col-md-6">
                <div class="form-group">
                    <select id="{{this.child_category}}" class="form-control select-cate" name="product_type">         
{{/each}}
                        {{#each this.categories}}
                        <option id="{{this.child_category}}">{{this.child_category}}</option>
                        {{/each}}
                    </select>                
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label>Attribute Set</label>
                    <select class="form-control" name="attribute_set">
                        {{#each attributesets}}
                        <option value="{{this._id}}">{{this.attribute_set_name}}</option>
                        {{/each}}
                    </select>                
                </div>
            </div>
            {{#each attributes}}
            <div class="col-md-6">
                <div>{{this.attribute_name}}</div>
                <input type="hidden" name="option_attribute" value="{{this.attribute_name}}"/>
                {{#each this.options}}
                    <div class="form-check form-check-inline">
                    <br/>
                    <input class="form-check-input" value={{this}} id="{{this}}" type="checkbox" name="attributes"/>
                    <label class="form-check-label" for="{{this}}">{{this}}</label>                       
                    </div>
                {{/each}}          
            </div>
            <br/>
            {{/each}}

            <div class="col-md-2">
                <div class="form-group" style="display: flex;">
                    <input type="submit" name="Submit" id="insert" 
                           class="btn btn-primary btn-sm"
                           value="Save Product">
                    <a href="/admin/product"><button style="margin-left: 10px;" type="button" class="btn btn-secondary" action=>Cancel</button></a>
                </div>
            </div>
</form>
<style>
    #upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed black;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

</style>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

$(function () {
    $('#upload').on('change', function () {
        readURL(input);
    });
});
    

</script>