{{#each promotions}}
 <form class="form-group"  method="POST"  action="/admin/promotion/update/{{this._id}}" >
          
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_id" class="form-control" value="{{this.product_id}}" id="product_id" readonly>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="product_name" class="form-control" value="{{this.product_name}}" readonly >
                </div>
            </div>

             <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="code" class="form-control" value="{{this.code}}" readonly >
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="promotion_description" class="form-control" value="{{this.promotion_description}}" placeholder="Enter Promotion Description" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="promotion_discount" class="form-control" value="{{this.promotion_discount}}" placeholder="Enter Promotion Discount">
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="available" class="form-control" value="{{this.available}}" placeholder="Available">
                </div>
            </div>
                          
{{/each}}
                       
            <div class="col-md-2">
                <div class="form-group" style="display: flex;">
                    <input type="submit" name="Submit" id="insert" 
                           class="btn btn-primary btn-sm"
                           value="Save Promotion">
                    <a href="/admin/promotion"><button style="margin-left: 10px;" type="button" class="btn btn-secondary" action=>Cancel</button></a>
                </div>
            </div>
</form>
<style>
    #upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed black;
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

</style>
<script>
    




</script>