   <a href="/admin/product/add"><button type="button" style="margin-bottom: 20px;" class="btn btn-success" action=>Add Product</button></a>

   <div>
        <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th >Description</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Action</th>
            </thead>
            {{#each products}}
                <tbody>
                    <tr>
                            <th>{{@index}}</th>
                            <th>{{this.product_name}}</th>
                            <th>{{this.product_sku}}</th>
                            <th>{{this.product_description}}</th>
                            <th>{{this.product_price}}</th>
                            <th>{{this.product_type}}</th>
                            <th>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" 
                                            type="button" 
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false">
                                            Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/admin/product/edit/{{this._id}}">Edit</a>
                                        <a data-id="{{this.product_sku}}" class="dropdown-item"  href="/admin/product/delete/{{this._id}}">Delete</a>
                                    </div>
                                </div>
                            </th>
                    </tr>
                </tbody>
            {{/each}}
        </table>
    </div>
    
