   
   <div>
        <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Promotion Code</th>
                    <th>Product Name</th>
                    <th>Promotion Description</th>
                    <th>Promotion Discount</th>
                    <th>Available</th>
                    <th>Action</th>
            </thead>
            {{#each promotions}}
                <tbody>
                    <tr>
                            <th>{{@index}}</th>
                            <th>{{this.code}}</th>
                            <th>{{this.product_name}}</th>
                            <th>{{this.promotion_description}}</th>
                            <th>{{this.promotion_discount}} %</th>
                            <th>{{this.available}} times</th>
                            
                            <th>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" 
                                            type="button" 
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false">
                                            Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/admin/promotion/edit/{{this._id}}">Edit</a>
                                        <a class="dropdown-item"  href="/admin/promotion/delete/{{this._id}}">Delete</a>
                                    </div>
                                </div>
                            </th>
                    </tr>
                </tbody>
            {{/each}}
        </table>
    </div>
    <script>
        console.log({{promotions}});
    </script>
    
