   <thead>
      <h1>Home Page - ADMIN: {{isAdmin}}</h1>
  </thead>
  <tbody>
    {{#each Posts}}
    <div class="form-css">
      <form method="POST" action="/forum/comment/{{this.postID}}">
        <div class="form-group">
          <h1>User Name: {{this.username}}  - isAuthor {{isAuthor}}</h1>
        </div>
        <div class="form-group">
          <label for="caption">Nội dung bài viết tại đây</label>
          <h6>{{this.caption}}</h6>
        </div>
        <div class="form-group">
          <img src="{{this.image}}"></img>
        {{#each this.arrCmt}}
            <li>
              {{this}}
            </li>
          {{/each}}

         </div>
       </form>

      {{#if this.allowToCmT}}
          <form method="POST" action="/forum/comment/{{this.postID}}">          
          <input name="comment" placeholder="Nhập đánh giá"> </input>
          <button type="submit" class="btn btn-primary" >Comment</button>
          </form>     
      {{/if}}


        {{#if this.isAuthor}}
        <a href="/forum/edit/{{this.postID}}">Edit</a>
         {{#if this.allowToCmT}}
          <button name="lock"class="btn btn-primary" >
          <a href="/forum/lockcomment/{{this.postID}}">Lock Comment</a>
          </button>    
         {{else}}
        {{!-- <button type="submit" class="btn btn-primary">Open Comment</button> --}}
          <button name="open" class="btn btn-primary">
            <a href="/forum/opencomment/{{this.postID}}">Open Comment </a>
          </button>
          {{/if}}
        {{/if}}
      </div>  
    {{/each}}

</tbody>


