   <thead>
      <h1>Home Page</h1>
  </thead>
  <tbody>
    {{#each arrPosts}}
      <form method="POST" action="/forum/comment/{{this.postID}}">
        <div class="form-group">
          <h1>User Name: {{this.username}}</h1>
        </div>
        <div class="form-group">
          <label for="caption">Bai viet</label>
          <h2>{{this.caption}}</h2>
        </div>
        <div class="form-group">
          <img src="{{this.image}}"></img>
        {{#each this.arrCmt}}
            <li>
              {{this}}
            </li>
          {{/each}}

      </div>
      {{#if this.allowToCmT}}
          <input name="comment"> </input>
          <button type="submit" class="btn btn-primary" >Comment</button>
      
          <a href="/forum/lockcomment/{{this.postID}}">Lock Comment </a>
      {{else}}
        {{!-- <button type="submit" class="btn btn-primary">Open Comment</button> --}}
          <a href="/forum/opencomment/{{this.postID}}">Open Comment </a>
      {{/if}}
      </form>
    {{/each}}

</tbody>


