   <thead>
      <h1>Home Page</h1>
  </thead>
  <tbody>
    {{#each arrPosts}}
     <form method="POST" action="/forum/comment/{{this.postID}}">
  <div class="form-group">
      <label for="name">User Name</label>
      <h1>{{this.username}}</h1>
    </div>
    <div class="form-group">
      <label for="caption">Bai viet</label>
      <h2>{{this.caption}}</h2>
    </div>
    <div class="form-group">
      <img src="{{this.image}}"></img>

      {{#each this.arrCmt}}
      <div>
      <h2>{{this.caption}} </h2>  
       </div>
      {{/each}}

      
    </div>
    <input name="comment"> </input>
    <button type="submit" class="btn btn-primary" >Comment</button>
</form>
    {{/each}}
  </tbody>


